<?xml version="1.0" encoding="UTF-8"?> 
<configParam>
	<Julabo>
		<Addr>192.168.0.2</Addr>
		<Port>5050</Port>
		<EnableMonitor>True</EnableMonitor>
	</Julabo>
	<MQTT>
		<Port>1883</Port>
		<Addr>192.168.0.45</Addr>
		<ClientId>BurnIn_Controller</ClientId>
		<CAENTopic>#</CAENTopic>
		<EnableMonitor>True</EnableMonitor>
	</MQTT>
	<FNALBox>
		<Port>10001</Port>
		<Addr>192.168.0.187</Addr>
		<EnableMonitor>True</EnableMonitor>
	</FNALBox>
</configParam>
